{% extends 'base.html' %}
{% load i18n %}
{% load fb_versions %}

{% block posts %}
<div class="media steampost text_fill" >
		<img class="logoimage" src="/media/nocloud_2.png"> DataParty |  
		<a><span ng-mousedown="showAbout=true" ng-mouseleave="showAbout=false">About</span></a> |
		<a><span ng-mousedown="showInstructions=true" ng-mouseleave="showInstructions=false"> Instructions </span> </a>
	</div>
	<div class="media steampost text_fill small" ng-show="showAbout">
		DataParty provides an easy way to communicate, exchange files and listen to music together for groups of people that share the same physical space.
		Projects like PirateBox and DataParty provides an alternative to cloud services. 
		These projects can be seen as activist or artistic initiatives directed away from increased 
		surveillance that occurs with mass centralization of digital communication services. 
	</div>
		<div class="media steampost text_fill small" ng-show="showInstructions">
			DataParty is easy as one, two, three.
			<ol>
				<li>Join the DataParty wireless network</li>
				<li>Open a web browser on your device</li>
				<li>Share and Party like it 1984</li>
			</ol>
	</div>
	
<div class="media media steampost text_fill read_alert ">
	
  <form enctype="multipart/form-data" class="filepost" method="post">
    {% csrf_token %}

    <span ng-click="toggleFileField()">
		<span class="showform glyphicon glyphicon-picture"> </span>
		<span class="showform glyphicon glyphicon-music"> </span>
		<span class="showform glyphicon glyphicon-file"> </span>
		<span class="showform"> Click here to share images, mp3s and pdfs. </span>
    </span>
   
  <br>
    <div class="fileform">
		<hr>
      <input id="id_docfile" name="file" type="file" class="upload_form"  title="Select file"> 
      
      	<input type="hidden" id="id_body" name="body" value="">	   
      <hr>	
      <button type="submit" class="btn btn-primary pull-right" ng-click="updateDom()">Share</button>
      	
    </div>

	 
 </form>
 </div>
<div class="media media steampost text_fill">
		 <hr>
  <form enctype="multipart/form-data"  name="myForm">
    {% csrf_token %}
	  <div class="form-group">
		<input  class="form-control zform" ng-model="post.body"  id="id_body" name="body" placeholder="What on your mind?" ng-maxlength="512">
		   <span class="error label label-danger"  ng-show="myForm.body.$error.maxlength">Your post can not be longer then 512 characters</span><br>
       
	  </div> 
	   <hr>
	  <div class="pull-right">
		
		<button type="submit" ng-click="uploadFile(post.body)" class="btn btn-primary">Post</button>
	  </div>
   </form>
</div> <!-- end of steampost head -->

<div class="text_stream">
	
  <div class="posts" ng-repeat="item in posts">
    {% verbatim %}
    <div class="media steampost text_fill"  >
		<div ng-show="item.model == 'publication.textpost'"> <div class="pull-right">
        <span class="glyphicon glyphicon-pencil"></span> 
         </div>
			<span class="small message_date">| {{item.fields.created}} </span>
      <div>         - {{item.fields.body }}
	</div>

      </div>
      <div ng-show="item.model == 'publication.imagepost'">
        <div>
          <div class="pull-right">
            <span class="glyphicon glyphicon-picture"></span>
          </div>
          <a id="iframemodal" ng-click='iframeimage($event)' data-target="#myModal" data-toggle="modal" >
            <img class="media-object stream_image" id="{{ item.pk }}" data-url="/media/{{ item.fields.imgfile }}" alt="image" id="{{ item.pk }}" src="/media/{{ item.fields.imgfile }}">
			</a>
          <div ng-show="item.fields.body != Null">{{item.fields.body}}</div>
        </div>
      </div>
      <div ng-show="item.model == 'publication.docpost'">
		  <div class="pull-right">
        <span class="glyphicon glyphicon-file"></span>
          </div>
      
        <a target="_self" id="{{ item.pk }}"  href="/media/{{ item.fields.docfile }}" data-url="/media/{{  item.fields.docfile  }}" download="{{  item.title }}" > 
			  <span class="glyphicon glyphicon-save"></span> - {{ item.title }} </a> 
      </div>
      <div ng-show="item.model == 'publication.track'">
            <div class="pull-right">
				<span class="glyphicon glyphicon-music">
					</span>
					</div>
          </span> - the song "{{ item.fields.title }}" was shared. </a>
	  </div>

</div>
</div> <!-- end of steampost -->

{% endverbatim %}

</div>
{%endblock%}


{% block images %}
<form  enctype="multipart/form-data" class="post" method="post">
	{% csrf_token %}
	<div class="form-group">
 		<input id="id_docfile" name="docfile" type="file" class="form-control">
		<input type="hidden" value="image" class="form-control" id="id_form_type" name="form_type">
	</div>
    <div class="pull-right"> <span class="glyphicon glyphicon-picture"> </span> <input type="submit" class="btn btn-primary" value="Share"> </div>
</form>
	<div class="stream"></div>
	<div class="image_stream">
		<div class="images" ng-repeat="item in images">
			{% verbatim %}
			<div class="media steampost">
				<img class="media-object stream_image" alt="image" src="/media/{{ item.fields.imgfile }}">
				<div class="lable pull-right">{{ item.fields.created }}</div>
			</div>
			{% endverbatim %}
    	</div>
	</div>
{%endblock%}

{% block audio %}

	<div class="media steampost text_fill">
		
		<span class="glyphicon glyphicon-music"> </span>
		Suggest songs
		<div>
			<hr>
			<div class="form-group">
				<input ng-model="query" class="form-control zform" placeholder="Filter songs to suggest...">
			</div>
					<hr>
			<div class="tracks_listed">
			<div class="playlist tracks_listed" ng-repeat="item in songs | filter: query ">
				{% verbatim %}
				<div class="track_fill">
					<span class="glyphicon glyphicon-music"> </span>
						<span>
							</span> <span class="small pull-right">
								<button class="btn btn-xs" ng-click='trackClicked()' id="{{ item.pk }}"> Suggest </button>
							</span>
							<a href="/media/{{item.fields.docfile}}">  {{ item.fields.title }} ({{ item.fields.author }}) </a>
							
					</span>
				</div>
				{% endverbatim %}
			</div>
		</div>
	<hr>
	</div>
	</div>


	

{%endblock%}

{% block radio %}
	<div class="media steampost text_fill">		
			<h4><img src='/media/dj.jpg' width="40"/> Dj Random Now Playing<span class="playing_type"> </span></h4>  <hr>		
			<div class="current_song_box">
				<img class="record" src='/media/80_album.png' width="80"/>
				<span class="current_song">{% verbatim %}  {{ lasttrack.title }} by {{ lasttrack.author }} --  {% endverbatim %}</span>
			</div>
		{% if user.is_authenticated %}
		    <div class="playcontols current_song_box">
				<div id="playbar" class="playing pull-right abel label-info">|<</div>
				<span class="mute_song">
					<span class="muteicon glyphicon icon-thumbs-up label label-danger"> </span>
				</span>
			</div>
		<hr>
		  {%endif%}
			<div class="tracks_listed">Pending Suggestions</div>
	
	          <div class="tracklistinsert tracks_listed "></div>
			  <div class="playlist2 tracks_listed"></div>
			  <div class="playlist tracks_listed suggested" ng-repeat="item in tracks">

			  {% verbatim %}
				<div class="track_fill" id="{{ item.pk }}" >
					<span class="glyphicon glyphicon-music"> </span> 
					<a href="/media/{{item.file}}">  <span class="track_title_author"> {{ item.title }} by {{ item.author }} </span> </a>
					<span class="small pull-right"> 
						 <span class="vote_num_green"> {{ item.position }} </span> <button class="btn btn-xs voting" 
						ng-click="voteUpClicked(item.track_pk)" data="{{ item.track_pk }}" id="{{ item.track_pk }}" ><span class="glyphicon glyphicon-thumbs-up"> </span> </button>
					</span>
				</div>
				{% endverbatim %}
			  </div>

		<hr>
		</div>
	

{%endblock%}


{% block textfiles %}
	<div class="media steampost text_fill">
		<span class="glyphicon glyphicon-file"> </span>
		Documents
		<hr>
		<div class="filelist" ng-repeat="item in files">
		{% verbatim %}
			<div class="track_fill" id="{{ item.pk }}" >
				<span class="glyphicon glyphicon-file"> </span> 
					<a target="_self"  href="/media/{{ item.fields.docfile }}"  download="{{  item.title }}"> 
					<span class="title"> {{ item.title }} </span>
				</a>
			</div>
		{% endverbatim %}
		</div>
		<hr>
		{% if user.is_authenticated %}
			<img class="logoimage" src="/media/nocloud_2.png"> admin
			<hr>
		{%endif%}
	</div>
{% endblock %}
