{% extends 'base.html' %}
{% load i18n %}
{% load fb_versions %}

{% block posts %}

  <div>
    {% if posts %}
    {% for p in posts  %}
        <div class="media post">
        <div class="">
            {% if p.doctype = "jpg" or p.doctype = "png" %}
                <span class="glyphicon glyphicon-picture"></span>
            {% elif p.doctype = "mp3" %}
                <span class="glyphicon glyphicon-volume-up"></span>
            {% elif p.doctype = "pdf" %}
                <span class="glyphicon glyphicon-file"></span>
            {% else %}
            <span class="glyphicon glyphicon-pencil"></span>
            {% endif %}

        <span class="small pull-right">
            | {{ p.datetime_created }}
        </span>  </div>
        <div class="media-body text_fill">
            {{ p.body }}
        </div>
        {% if p.doctype = "jpg" or p.doctype = "png" %}
            <a  class="pull-left" href="">
                <img class="media-object feedimg" src="{% version p.docfile 'medium' %}" alt="image" />
            </a>
            {% elif p.doctype = "mp3" %}
            <ul id="graphic-playlist" class="graphic">
                <li><a href="/media/{{ p.docfile }}" class="exclude sm2_link sm2_paused">{{ p.docfile }}</a></li>
            </ul>

            {% elif p.doctype = "pdf" %}
                show pdf link
            {% else %}

            {% endif %}
        </div>
    {% endfor %}
    {% else %}
      there are no post jet
    {% endif %}
  </div>

{%endblock%}
{% block audio %}
    {% if audio %}
         <ul id="graphic-playlist" class="graphic">
          {% for a in audio  %}
            <div class="media post">
               <div>
                   <span class="glyphicon glyphicon-volume-up"></span> |
               </div>
                <li><a href="/media/{{ a.docfile }}" class="exclude sm2_link sm2_paused">{{ a.docfile }}</a></li>
            </div>
          {% endfor %}
             </ul>
    {% else %}
      there are no audio jet
    {% endif %}
{%endblock%}
{% block images %}
    {% if images %}
          {% for i in images  %}
            <div class="media post">
               <a  class=" pull-left" href="">
                <img class="media-object feedimg" src="{% version i.docfile 'medium' %}" alt="image" />
            </a>
            </div>
          {% endfor %}
    {% else %}
      there are no images jet
    {% endif %}
{%endblock%}


